* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ebebeb;
    height: 100vh;
}

body {
    margin: 0 auto;
    position: relative;
    font-family: 'Quicksand', sans-serif;
    height: 100%;
    overflow: hidden;
}

.overClass {
    overflow: hidden;
}

.landing-page {
    height: 100%;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: 0;
}

.wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 130px 1% 0 1%;
}

/*@media screen and (max-width: 768px) {*/
/*    video {*/
/*        display: none;*/
/*    }*/

/*    .landing-page {*/
/*        !*background: url("../../assets/pexels-markus-spiske-965625.jpg") no-repeat center;*!*/
/*        !*background-size: cover;*!*/

/*        background: rgb(255, 217, 82);*/
/*        background: linear-gradient(0deg, rgba(255, 217, 82, 0.7245273109243697) 0%, rgba(250, 181, 0, 0.80015756302521) 100%);*/
/*    }*/
/*}*/